
@{
    ViewBag.Title = "Upload";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Successfully Uploaded</h2>

<h2>File is now uploaded to the location "~/Areas/Files/"</h2>
@Html.ActionLink("Documents", "Downloads")