
@{
    ViewBag.Title = "UploadGallary";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Successfully Uploaded Images In Gallary</h2>


@Html.ActionLink("Documents", "DownloadGallary")