
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Index</h2>

<h2><strong>Upload Files Here</strong></h2>
<br />

@using (Html.BeginForm("UploadFiles", "/Uploads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" style="font:bold 15px large,verdana" class="btn btn-info"><br />
    @*<input type="button" value="Preview" onclick="PreviewImage();" />*@
    @*<input type="file" id="ImageData" name="ImageData" value="ImageData" accept="image/*" />*@
    <br />
    <input type="submit" value="Upload" style="font:bold 15px large,verdana" class="btn btn-danger">
    @Html.ActionLink("Documents", "Downloads")

}


