@{
    ViewBag.Title = "About";
}
<style>
    table, td, th {
        border: 1px solid black;
        font-size: medium;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 50px;
    }
    li{
        font-size:medium;
    }
    p{
 font-size:medium;
    }
</style>


    <div class="col-sm-4">

        <p style="color:#72c02c"><strong>Mission</strong></p>
        <p>
            <ul>
                <li>To make self-dependent member through regular saving and credit program for enhancing their economic livelihood.</li>
                <li>Provide easy and assessable savings, credit and services at a competitive price to raise the socioeconomic status of members.</li>
                <li>To establish non-discriminative model of co-operative society through various activities to fulfill members’ societal, cultural and economic needs.</li>
            </ul>
        </p>
    </div>
    <div class="col-sm-4">

        <p style="color:#72c02c"><strong>Vision</strong></p>
        <p>
            <ul>
                <li>Establishing a model co-operative society with considering universal values and principle of co-operatives, while promoting itself as a model community based cooperative financial institution.</li>
            </ul>
        </p>
        </div>
   
    <div class="col-sm-4">
        <p style="color:#72c02c"><strong>Principle</strong></p>
        <p>
            <ul>
                <li>स्वेच्छिक तथा खुला सदस्यता</li>
                <li>सदस्यहरुद्धारा प्रजातान्त्रिक नियन्त्रण</li>
                <li>सदस्यहरुको आर्थिक सहभागीता</li>
                <li>स्वायत्तता र स्वतन्त्रता</li>
                <li>शिक्षा, तालीम र सूचना</li>
                <li>सहकारी संस्थाहरुकाबीच सहयोग</li>
                <li>समूदायप्रति चासो</li>
            </ul>
        </p>
    </div>

<div class="col-sm-12">
    <p style="color:#72c02c"><strong>BOD And Management Structure(संचालक समिति तथा बिभिन्न उपसमिति)</strong></p>
    <p>
        <table border="1" width="100" height="200">
            <thead>
                <tr>
                    <th>सीन</th>
                    <th>पुरानाम</th>
                    <th>सम्पर्कफोनन</th>
                    <th>पद</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>१</td>
                    <td>दिनेशलामा</td>
                    <td>९८५११८५३५६,९८०८७६८७४५</td>
                    <td>अध्यक्ष</td>
                </tr>
                <tr>
                    <td>२</td>
                    <td>तेन्जिङशेर्पा</td>
                    <td>९८४१३१३५५०</td>
                    <td>अध्यक्ष</td>
                </tr>
                <tr>
                    <td>३</td>
                    <td>सोनमलामा</td>
                    <td>९८४१६७८८१६</td>
                    <td>सचिव</td>
                </tr>

                <tr>
                    <td>४</td>
                    <td>छिरिङ्दोर्जेशेर्पा</td>
                    <td>९८५११५८५५४</td>
                    <td>कोषाध्यक्ष</td>
                </tr>
                <tr>
                    <td>५</td>
                    <td>फुराछेतनशेर्पा</td>
                    <td>९८५११३१२६१</td>
                    <td>संचालक</td>
                </tr>
                <tr>
                    <td>६</td>
                    <td>मंगलतमाङ</td>
                    <td>+९७७ १ ४९१०१८३</td>
                    <td>संचालक</td>
                </tr>
                <tr>
                    <td>७</td>
                    <td>सन्तोशलामा</td>
                    <td>+९७७ १ ४९१०१८३</td>
                    <td>संचालक</td>
                </tr>

                <tr>
                    <td colspan="4"><b><center>ऋण उपसमिति</center></b></td>
                </tr>
                <tr>
                    <td>१</td>
                    <td>सोनमलामा</td>
                    <td></td>
                    <td></td>
                </tr>


                <tr>
                    <td colspan="4"><b><center>लेखा उपसमिति</center></b></td>
                </tr>
                <tr>
                    <td>१</td>
                    <td>टासीलामा</td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="4"><b><center>कार्य समिति</center></b></td>
                </tr>
                <tr>
                    <td>१</td>
                    <td>दिनेशलामा</td>
                    <td>९८५११५४७४४,९८०३७७१०६६</td>
                    <td>प्रबन्धक</td>
                </tr>

        </table>

    </p>
</div>
