
@{
    ViewBag.Title = "Loan";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}
<style>
    p {
        font-size: medium;
       
    }
    h4{
         color:#72c02c;
    }

    table, td, th {
        border: 1px solid black;
        font-size: medium;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 50px;
    }

</style>

    <div class="col-lg-12">

        <h2><strong>Deposit & Saving Schemes</strong></h2>

        <h2><strong>कर्जा शिर्षकहरु :</strong></h2><br />
        <p>संस्थालेआफ्नोसहभागीसदस्यहरुकोमागरआवश्यकताअनुसारकर्जाउपलब्धगराउनेव्यवस्थागरिएकोछ।आफुलाईकेकुनशिर्षकमाकेकालागिकर्जा चाहिएकोहोत्यसअनुसारकोउचितप्रस्तावसहितमागभएकाकर्जालाईउचितठहरिएमाबिनाझन्जट कर्जाउपलब्धगराउनेव्यवस्थाछ।संस्थाबाट देहाय बमोजिमका शिर्षकहरुमा सदस्यलाई कर्जा उपलब्ध गराईनेछ । एक आर्थिक वर्षमा सञ्चालन समिति वा व्यवस्थापनको निणर््ाय अनसारको तल उल्लेखित मध्ये सवै वा निश्चित योजनाहरु लागु गरिनेछ ।</p><br />

        <h4> <strong>कृषि तथा पशुपालन कर्जा :</strong></h4>
       <p>           कृषि ऋण भन्नाले सदस्यहरुले खेतिपातिका लागि एवम् उन्त बिउबिजन, पशुधन बृद्धि, कृषि उपरकण, कृषि जमिन आदि खरिद वा कृषिाजन्य उत्पादन, संरचनाको सुधार  वा निर्माण कार्यमा उपभोग गरिने कर्जालाई जनाउनेछ ।
</p><br />
        <h4><strong> व्यवसायिककर्जा :</strong></h4>
        <p>किराना तथा उपभोग्य पसल, होटल, तालिम केन्द्र, घरेलु तथा साना उद्योग, कलकारखाना, सेवामूलक व्यवसाय (स्कुल, कलेज, अस्पताल, औषधी पसल आदि) लगायतका व्यापार व्यवसायमा प्रदान गरिने कर्जालाई व्यवसायिक ऋण भनिनेछ ।
</p><br />

        <h4><strong>हायरपर्चेज कर्जा :</strong></h4>
        <p>मेशिनरी औजार, गाडी, मोटरसाइकल, घरायसी उपकरण तथा यस्तै अन्य सामानहरु खरीद गर्दा सप्लार्यको ग्यारेन्टी र ऋण चुक्ता नभएसम्म सामानको स्वामित्व संस्थामा रहने गरी हायरपर्चेज गर्न प्रदान गरिने कर्जालाई जनाउनेछ ।नयाँ सवारी साधनको हकमा मूल्यको ८० प्रतिशत ऋण लगानी संस्थाको तर्फबाट र बाँकी २० प्रतिशत ऋणीको तर्फबाट राख्नुपर्नेछ । पुरानो सवारी साधन (चालु बर्ष भन्दा पाँच बर्ष पुरानो मानीने छ) को हकमा तत्कालीन मूल्यको ५० प्रतिशत संस्थाको तर्फवाट ऋण लगानी गरिनेछ । साथै सहायक सुरक्षण बापत अचल सम्पत्ति वा सदस्यको बचत र शेयर रकम धितो राख्नुपर्नेछ । यस्तो ऋण चुक्ता नहुञ्जेलसम्म सम्बन्धित सवारीसाधनको अनिवार्य रुपमा वार्षिक बीमा गराईनेछ र बीमाशुल्क ऋणीसंग असुल गरिनेछ । ऋणीले अनिवार्य रुपमा नियमित वार्षिक सवारीकर चुक्ता गर्नुपर्नेछ ।</p><br />

        <h4> <strong>वैदेशिक रोजगार कर्जा :</strong></h4>
        <p>विभिन्न सिप, क्षमता, ज्ञान, कला भएका र स्वदेशमा गएर रोजगारी चाहने सदस्यहरुको लागि वैदेशिक रोजगारीको कागजातहरुको प्रमाण र रोजगार हेरी प्रदान  गरिने ऋणलाई वैदेशिक रोजगार कर्जालाई जनाउनेछ ।</p><br />

        <h4>
            <strong>शैक्षिक ऋण (बाल शिक्षा बचत कर्जा उच्चशिक्षा बचत कर्जा)ः</strong>
            <p>
                स्वदेश तथा विदेशमा अध्ययनको लागि प्रदान गरिने कर्जालाई शैक्षिक कर्जालाई जनाउनेछ ।
            </p><br />
            <h4>
                <strong>सामाजिक कार्य कर्जा :</strong>
            </h4>
        <p>सदस्यको वा निजको परिवारमा रितीरिवाजअनुसार गरिने सामाजिक कार्यहरु (जस्तैः सुत्केरी, न्वारान, पास्नि, व्रटबन्ध, विवाह, किरियावा आकस्मिक वा औषधि उपचारार्थ ) तथा यस्तै अन्य कायको लागि प्रदान गरिने कर्जालाई जनाउनेछ ।यस शीर्षकमा बढीमा रु. १००,०००।– सम्म ऋण प्रदान गर्न सकिनेछ र यस ऋणको भाखा ३ महिनाको हुनेछ । यो कर्जा  कुनै एउटा घटनाको लागि एक जनालाई मात्र प्रदान गरिनेछ । निजलजे पहिले कर्जा लिएको वा अन्य सदस्यको जमानी बसेको भए पनि संस्थाले मुनासिब कारण देखेमा बढीमा रु ५०००० र  वा धितोको मुल्याङकको ५० ५ सम्म अगामी ऋण समितिको बैठकमा समर्थन गर्ने गरी ऋण समितिको संयोजक, अध्यक्ष र कोषाध्यक्षसँग सल्लाह गरी ऋण लगानी प्रक्रिया पु¥याई व्यवस्थापकले कर्जा ऋण लगानी गर्न सक्नेछ ।</p><br />

       <strong>व्यवसायिकघरजग्गा खरीद तथा भबन निर्माण कर्जा :</strong>
        <p>संस्थाका सदस्यहरुले आफ्नो आवासको लागि व्यवसायिक उद्देश्यले खरीद गरिने घरजग्गा आदिको लागि दिइने कर्जालाई जनाउनेछ।
</p><br />

            <h4><strong>सामूहिक वा लघुवित्त कर्जा :</strong></h4>
        <p>            समूहमा आवद्ध सदस्यहरुलाई व्यापार व्यवसाय, घरेलु उद्योग आदि सञ्चालन गर्न सामूहिक वा व्यीक्तगत दायित्व रहने गरी दिइने वा यस्तै अन्य समूहको जमानीमा दिइने कर्जा लाई जनाउनेछ ।
</p><br />

            <h4> <strong>आवधिककर्जा :</strong></h4>
        <p>संस्थामा बचत गरेको आवधिक बचतको आधारमा प्रदान गरिने ऋणलाई आवधिककर्जा भनिनेछ । यस शिर्षकमा अधिकतम बचतमा रहेको रकमको ९० प्रतिशत रकम कर्जा प्रदान गर्न सकिनेछ र यसको अधिकतम भाखा बचत भुक्तानीको लागि तोकिएको मितिसम्म रहनेछ । यस शिर्षकमा बचतमा तोकिएको ब्याजदरमा थप ३ प्रतिशत ब्याज लाग्नेछ । बचतमा रहेको रकम यस कर्जाको लागि धितोजमानत रहनेछ । कर्जा भुक्तानी नभएसम्म उक्त बचत रकम फिर्ता गरिनेछैन र बचत रकमको अवधि समाप्त हुनासाथ कर्जा र सोमा लाग्ने ब्याज कट्टा गरी बाँकी रकम फिर्ता गरिनेछ ।</p>
        <br />

            <h4><strong>सदस्य धनजमानी कर्जा : </strong></h4>
        <p>संस्थामा सदस्यले राखेको बचत र शेयर रकमको आधारमा साथै अर्को सदस्य धनजमानी राखी प्रदान गरिने ऋणलाइ सदस्य धनजमानी कर्जा  भनिनेछ । कृषि तथा पशुपालन कर्जा, व्यवसायिक कर्जा, वैदेशिक रोजगार कर्जा, हायर पर्चेज कर्जा, आवास कर्जा, शैक्षिक कर्जा, जग्गा खरिद कर्जा, घरायसी कर्जा शिर्षकमा सदस्य धनजमानी कर्जा प्रदान गरिनेछ । सदस्यको नाममा भएको बचत तथा शेयरमा रहेको रकम साथै धनजमानी बस्ने सदस्यको बचत तथा शेयरमा रहेको रकम पनि यस ऋणको लागि सुरक्षण रहनेछ । कुनै सदस्यको आपनो शेयरको १५० प्रतिशत सम्म जमानी बस्न पाउनेछ । रु १ लाख सम्मको कर्जाको हकमा एक जना सदस्य धनजमानी र रु २ लाख सम्मको ऋणको हकमा दुई जना सदस्य धनजमानीहरु राखिनेछ । तर जमानी बस्ने सदस्यले सम्बन्धित ऋणीले जमानी बसेको रकम बराबरको कर्जा  र सोको ब्याज चुक्ता नगरेसम्म संस्थाबाट ऋण लिन पाउने छैन ।</p><br />

            <h4> <strong>सौर्य कर्जाः </strong></h4>
        <p>वौकल्पिक उर्जाको उपयोग र यसको प्रवद्धन गर्नका लागि संस्थासंग आवध्य सदस्यहकलाई प्रदान गरिने कर्जालाई सौर्य कर्जा भनिन्छ । यस शिर्षक अन्तर्गत रु २,००००० सम्म कर्जा प्रभाह गर्न सकिनेछ । उपकरणको हकमा ऋणिले वजार मृल्यको २० प्रतिशत तथा संस्थाले ८० प्रतिशत सम्म ब्यहोर्न छ ।</p><br />
        <table border="1" width="100%" height="100">
            <thead>
                <tr>
                    <th>क.स.</th>
                    <th>कर्जा शिर्षक</th>
                    <th>ब्याजदर</th>

                </tr>
            </thead>

            <tr>
                <td>१</td>
                <td>कृषि तथा पशुपालन कर्जा</td>
                <td></td>

            </tr>

            <tr>
                <td> २</td>
                <td>व्यवसायिक कर्जा</td>
                <td></td>

            </tr>

            <tr>
                <td>३</td>
                <td>हायरपर्चेज कर्जा</td>
                <td></td>

            </tr>

            <tr>
                <td>४	</td>
                <td>वैदेशिक रोजगार कर्जा</td>
                <td></td>

            </tr>

            <tr>
                <td>५	</td>
                <td>    शैक्षिक ऋण (बाल शिक्षा बचत कर्जा उच्च शिक्षा बचत कर्जा)</td>
                <td></td>

            </tr>

            <tr>
                <td>६	</td>
                <td>    सामाजिक कार्य कर्जा</td>
                <td></td>
       </tr>

            <tr>
                <td>७	</td>
                <td>    व्यवसायिक घरजग्गा खरीद तथा भबन निर्माण कर्जा</td>
                <td></td>

            </tr>

            <tr>
                <td>८	</td>
                <td>    सामूहिक वा लघुवित्त कर्जा</td>
                <td></td>

            </tr>

            <tr>
                <td>९	</td>
                <td>  आवधिक कर्जा</td>
                <td></td>


            </tr>
            <tr>
                <td>१०	</td>
                <td>  सदस्य धनजमानी कर्जा</td>
                <td></td>

            </tr>
            <tr>
                <td>११	</td>
                <td> सौर्य कर्जाः</td>
                <td></td>

            </tr>
        </table><br />

            <h4> <strong> कर्जाको सीमा र भाखा :</strong></h4>
        <p>मथि उल्लेखित नभएको खण्डमा
            <ul>
                <li>ड्साना परियोजना अन्तर्गत अधिकतम रु. ५ लाख कर्जा प्रदान गर्न सकिनेछ र यसको अधिकतम भाखा १ वर्षको रहनेछ ।</li>
                <li>ड्मझौला परियोजना अन्तर्गत अधिकतम रु. १५ लाख कर्जाप्रदान गर्न सकिनेछ र यसको अधिकतम भाखा २ वर्षको रहनेछ।</li>
                <li>	ठुला परियोजना अन्तर्गत अधिकतम रु. २५ लाख कर्जाप्रदान गर्न सकिनेछ । यसको लागि अधिकतम भाखा ३ वर्षको रहनेछ ।</li>
            </ul></p>
        <h4> <strong>अन्य कार्यविधि अ</strong></h4>
        <p><ul>
               <li>माथि उल्लेखित सम्पूर्ण कर्जाहरुमो ब्याजदर व्यवस्थापक वा ऋण उप समिति वा सञ्चालक समितिको निर्णय बमोजिम रहनेछ ।</li>
               <li>अचल सम्पत्ति धितो राखी लिएको कर्जाको भुक्तानी अनिवार्य किस्तावन्दी रुपमा गर्नुपर्नेछ । परियोजना र ऋणीको आम्दानीको विश्लेषण गरी आपसी सहमतिको आधारमा मासिक, त्रैमासिक वा अर्धवार्षिक किस्तावन्दी लागु गरिनेछ ।</li>
               <li>माथि उल्लेखित वाहेक अन्य सम्पूर्ण कर्जाको लागि धितोजमानत बापत अचल सम्पत्ति राखिनेछ ।</li>
               <li>	अन्य कार्यविधि ऋणीसँग सम्झौता गरी निर्धारण गर्न सकिनेछ ।</li>
</ul>
</p>
     </div>

