
@{
    ViewBag.Title = "Saving";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}
<style>
    li {font-size:medium
    }
</style>

<div class="col-lg-12">

    <h2>Remittance Services</h2>
    <h2> <strong>रेमिटेन्ससुबिधा</strong></h2>
    <ul>
        <li>हिमालरेमिट</li>
        <li>प्रभु</li>
        <li>वेष्टर्नउनियन</li>
        <li>सीजी</li>
        <li>आइयममी</li>
    </ul>
</div>



