
@{
    ViewBag.Title = "Saving";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}
<style>
    p{
        font-size:medium
    }
     h4{
         color:#72c02c;
    }
    table, td, th {
    border: 1px solid black;
    font-size:medium
}

table {
    border-collapse: collapse;
    width: 100%;
  border-spacing: 10px 50px;
}

th {
    height: 50px;
}
</style>
<div class="col-lg-12">
   
    <h2><strong>Deposit & Saving Schemes</strong></h2>
    <br>
    <p>संस्थाको शेयर पूँजी रु ५०,०००००/+ (पचास लाख) कायम गरी उक्त रकमलाई क्रमिक रुपमा सदस्यहरु माझ शेयर वितरण गरी च©क्त पूँजीमा परिणत गर्दै लैजाने नीति रहेको छ ।</p>
    <br>
    <strong><h4>१.निक्षेप योजना :</h4></strong>
    <p>निक्षेप योजना विद्यमान प्रतिष्पर्धात्मक वित्तिय वातावरण निक्षेपकर्तालाई आकर्षक व्याजदर प्रदान गर्ने गरी निम्न बमोजिम योजनाहरु लागू गरिएको छ । </p>
    <table border="1" width="100%" height="100" cellspacing="30">
        <thead>
            <tr> 		
                <th>बचत योजना</th>
                <th>न्यूनतम</th>
                <th>ब्याजदर</th>
             
            </tr>
        </thead>

        <tr>
            <td>१. बेसिक बचत	</td>
            <td>रु. २००/+</td>
            <td>५% दैनिक</td>

        </tr>
        <tr>
            <td> २. साधारण बचत	</td>
            <td>रु. १,०००/+</td>
            <td>६.५% दैनिक</td>

        </tr>
        <tr>
            <td>३. विशेष बचत	</td>
            <td>रु. १०,०००/+</td>
            <td>८% दैनिक</td>

        </tr>
        <tr>
            <td>४. सर्वोच्च समृद्धि प्लस बचत	</td>
            <td>रु. ५०,०००/+</td>
            <td> १०% दैनिक</td>
           
            	
        </tr>
        <tr>
            <td>५. शेयर बचत खाता</td>
            <td>रु. १,०००/+</td>
            <td>	९% दैनिक</td>

        </tr>
        </table><br />
    <p> नोट ः Ò५ड्ड को हकमा आर्थिक वर्षको असार मसान्तमा शेयरमा परिणत गरिने छ । साथै सदस्यको स©रक्षालाई ध्यानमा राखि बचत अन©सार द©र्घना बिमा समावेश गरिएको छ । </p>
</div>
<p>
    
    <br />

    <strong><h4> २. अवधि बचत योजना:</h4></strong>
<p>
    दैनिक रु. ५०/+ भन्दा माथि  बचत गर्न सकिनेछ ।
    ३/३ महिनामा  व्याज गणना गरिनेछ ।
    समयावधि समाप्ति पछि एकम©ष्ठ साँवा र ब्याज प्राप्त गर्न सकिनेछ ।

</p>

<table border="1" width="100%" height="100">
    <thead>
        <tr>
            <th>अवधि</th>
            <th>ब्याजदर</th>
            <th>ब्याजदर</th>
            <th>ब्याजदर</th>
          
        </tr>
    </thead>

    <tr>
        <td> ३ महिना</td>
        <td> ७%</td>
        <td> ३ वर्ष</td>
        <td> ११%</td>
    
    </tr>

    <tr>
        <td> ६ महिना</td>
        <td> ८%</td>
        <td> ४ वर्ष</td>
        <td> १२%</td>

    </tr>

    <tr>
        <td>१ वर्ष</td>
        <td> ९%</td>
        <td> ५ वर्ष</td>
        <td> १३%</td>

    </tr>

    <tr>
        <td>२ वर्ष</td>
        <td>१०%</td>
        <td></td>
        <td></td>

    </tr>

    </table>
    <br />
    <strong><h4>३.आवधिक बचत योजना :</h4></strong>
    <p>न्यूनतम रु. १०,०००/+ बाट जम्मा गर्न सकिने छ । </p>

<table border="1" width="100%" height="100">
    <thead>
        <tr>
            <th>अवधि</th>
            <th>मासिक</th>
            <th>त्रैमासिक</th>
            <th>वार्षिक</th>
            <th>एकमुष्ठ</th>
        </tr>
    </thead>

    <tr>
        <td>६ महिना</td>
        <td>+</td>
        <td>११%</td>
        <td>१२%</td>
        <td>+</td>
    </tr>
    <tr>
        <td>१ वर्ष</td>
        <td>१२%</td>
        <td>१३%</td>
        <td>१४%</td>
        <td>१४%</td>
    </tr>
    <tr>
        <td>२ वर्ष</td>
        <td>१२.५%</td>
        <td>१३.५%</td>
        <td>१४.५%</td>
        <td>१५%</td>
    </tr>
    <tr>
        <td>३ वर्ष</td>
        <td>१३.५%</td>
        <td>१४%</td>
        <td>१५%</td>
        <td>१६%</td>
    </tr>
 			
    <tr>
        <td> ४ वर्ष</td>
        <td>१४%</td>
        <td>१४.५%</td>
        <td>१५.५%</td>
        <td>१६.५%</td>
    </tr>
   			
    <tr>
        <td>   ५ वर्ष</td>
        <td>१५%	</td>
        <td>१५.५%</td>
        <td>१६.५%</td>
        <td>१७.५%</td>
    </tr>
</table><br />
<p>ठूलो रकम भएको अवस्थामा आपसी समझदारीमा ब्याज प्रदान गरिनेछ । </p>


    <br />
    <strong><h4>४.बाल भविष्य बचत योजना :</h4></strong>
    <p>१६ वर्ष भन्दा तलका बालबालिकाहरुले खाता संचालन गर्न सक्नेछन् ।
दैनिक रु. १००/+ वा पाछिक रु. १,५००/+ वा मासिक रु. ३,०००/+ भन्दा माथि रकम जम्मा गर्ने बचतकर्तालाई जन्म दिनको अवसरमा वर्थ+डे केक उपहार दिइनेछ ।
३ वर्ष अवधि भन्दा माथि खाता खोली ब©ँद्धा नं. ३ अन©सार रकम जम्मा गरेमा स्पेशल बर्थ+डे केक उपहार दिइने छ ।
समयावधि समाप्ति पछि एकम©ष्ठ साँवा र ब्याज प्राप्त गर्न सकिनेछ ।
</p>
<table border="1" width="100%" height="100">
    <thead>
        <tr>
            <th>अवधि</th>
            <th>ब्याजदर</th>
        </tr>
    </thead>

    <tr>
        <td>१ वर्ष</td>
        <td>९%</td>
  </tr>
    <tr>
        <td>२ वर्ष</td>
        <td>१०%</td>
    </tr>
    <tr>
        <td>३ वर्ष</td>
        <td>११%</td>
    </tr>
    <tr>
        <td>४ वर्ष</td>
        <td>११.५%</td>
    </tr>
    <tr>
        <td>५ वर्ष</td>
        <td>१२%</td>
    </tr>
    </table>
    <br />
    <strong><h4>५. जेष्ठ नागरिक बचत योजना :</h4></strong>
    <p>५८ वर्ष भन्दा माथिका नागरिकहरुले यो खाता संचालन गर्न सक्ने छन् ।
न्यूनतम रु. २,००,०००/+ बाट खाता खोल्न सकिने छ ।
हरेक वर्ष दशैं खर्च बापत रु. १०००/+ देखि रु. ५,०००/+ सम्म प्रदान गरिनेछ ।
</p>
<table border="1" width="100%" height="100">
    <thead>
        <tr>
            <th>अवधि</th>
            <th>मासिक</th>
            <th>त्रैमासिक</th>
            <th>वार्षिक</th>
            <th>एकमुष्ठ</th>
        </tr>
    </thead>
    				
    <tr>
        <td>१ वर्ष</td>
        <td>१२%</td>
        <td>१३%</td>
        <td>१३%</td>
        <td>१४%</td>
    </tr>
   
    <tr>
        <td>२ वर्ष</td>
        <td>१२.५%</td>
        <td>१३.५%</td>
        <td>१३.५%</td>
        <td>१५%</td>
    </tr>
    <tr>
        				
        <td>३ वर्ष</td>
        <td>१३.५%</td>
        <td>१४%</td>
        <td>१४%</td>
        <td>१६%</td>
    </tr>
    <tr>
       			
        <td> ४ वर्ष</td>
        <td>	१४%</td>
        <td>१४.५%</td>
        <td>१४.५%</td>
        <td>१६.५%</td>
    </tr>
    <tr>
       				
        <td> ५ वर्ष</td>
        <td>१५%</td>
        <td>१५.५%</td>
        <td>१५.५%</td>
        <td>१७.५%</td>
    </tr>
    </table>
    <br />
    <strong><h4>६.विजनेश प्लस बचत योजना :</h4></strong>

<table border="1" width="100%" height="100">
    <thead>
        <tr>
            	
            <th>रकम</th>
            <th>दैनिक ब्याजदर</th>
        </tr>
    </thead>

    <tr>	
        <td> २५,०००/+ देखि ५०,०००/+ सम्म</td>
        <td>९%</td>
    </tr>
    <tr>	
        <td>५०,१००/+ देखि २,००,०००/+ सम्म</td>
        <td>१०%</td>
    </tr>
    <tr>
        <td>२५,०००/+ देखि १०,००,०००/+ </td>
        <td>११%</td>
    </tr>
    <tr>
        <td>१०,००,०००/+ देखि </td>
        <td>१२%</td>
    </tr>
    <tr>
        <td> २०,००,०००/+ देखि ४०,००,०००/+ सम्म	</td>
        <td>१३%</td>
    </tr>	
    <tr>
        <td> ४०,००,१००/+ सो भन्दा माथि	</td>
        <td>१४%</td>
    </tr>
</table>
    <br />
    
    <br />

    <strong><h4>७. ३६५ दिने बचत योजना :</h4></strong>
 <table border="1" width="100%" height="100">
    <thead>
        <tr>
          
            <th>  दैनिक जम्मा</th>
            <th>	३६५ दिनमा</th>
        </tr>
    </thead>
  
    <tr>
        <td> रु. १०५/+</td>
        <td>रु. ४०,५००/+</td>
    </tr>
    <tr>
        	
        <td>रु. ५२५/+</td>
        <td>रु. २,०२,५००/+</td>
    </tr>
    <tr>
       	
        <td> रु. १,०५०/+</td>
        <td>रु. ४,०५,०००/+</td>
    </tr>
    <tr>
        	
        <td>रु. २,१००/+</td>
        <td>रु. ८,१०,०००/+</td>
    </tr>
    <tr>
     
        <td>रु. ३,१५०/+</td>
        <td>रु. १२,१५,०००/+</td>
    </tr>
    <tr>
       
        <td>  रु. ४,२५०/+</td>
        <td>	रु. १६,२०,०००/+</td>
    </tr>
   
     <tr>

         <td>   रु. ५,२५०/+	</td>
         <td> रु. २०,२५,०००/+</td>
     </tr>
</table>
<p>शर्तहरु लागू ह©नेछ </p>
    <br />
    
    <br />
    <strong> <h4>८.३ वर्षे नर नरी समृद्धि बचत योजना :</h4></strong>
    <p>यो योजना अवधि ३ वर्षको ह©नेछ ।
समयावधि समाप्ति पछि एक म©ष्ठ साँवा र ब्याज प्राप्त गर्न सकिने छ ।</p><p>
मासिक रु. ३,१२५÷+ मासिक जम्मा गर्दा रु १, २७, ५००÷+ एकम©ष्ठ भ©क्तानी
यस योजनामा संस्थाले रु. ५ लाख सम्म द©र्घटना विमा समावेश गरिएको छ ।<br />
मासिक रु. ६,२५०÷+ मासिक जम्मा गर्दा रु. २,५५,०००÷+ एकम©ष्ठ भ©क्तनी
यस योजनामा संस्थाले रु. १० लाख सम्म द©र्घटना विमा समावेश गरिएको छ ।<br />
मासिक रु. ९,२५०÷+ मासिक जम्मा गर्दा रु. ३,७८,०००÷+ एकम©ष्ठ भ©क्तानी
यस योजनामा संस्थाले रु. १५ लाख सम्म द©र्घटना विमा समावेश गरिएको छ ।
</p>
    <br />
    <strong><h4>९.नर नारी लखपति बचत योजना :</h4></strong>
    <p>मासिक रु. ६२५÷+ जम्मा गर्दा रु ५०,०००÷+ प्राप्त ह©नेछ ।<br />
मासिक रु. १,२५०÷+ जम्मा गर्दा रु १,००,०००÷+ प्राप्त ह©नेछ ।<br />
मासिक रु. २,५००÷+ जम्मा गर्दा रु २,००,०००÷+ प्राप्त ह©नेछ ।<br />
मासिक रु. ३,७५०÷+ जम्मा गर्दा रु ३,००,०००÷+ प्राप्त ह©नेछ ।<br />
मासिक रु. ५,०००÷+ जम्मा गर्दा रु ४,००,०००÷+ प्राप्त ह©नेछ ।<br />
मासिक रु. ६,२५०÷+ जम्मा गर्दा रु ५,००,०००÷+ प्राप्त ह©नेछ ।<br />

    </p>
    <br />
    <strong><h4>१०.कर्जा तथा सापटी :</h4></strong>
<table border="1" width="100%" height="100">
    <thead>
        <tr>
            	
            <th> कर्जा तथशिर्षक</th>
            <th>ब्याजदरा सापटी</th>
        </tr>
    </thead>
   
 

    <tr>
        <td>  सम©हिक जमानी </td>
        <td>१८%              २२%</td>
    </tr>
    <tr>

        <td> व्यवसायिक कर्जा</td>
        <td>	१७.५%             २२%</td>
    </tr>
    <tr>

        <td>   पहिला उद्यमी कर्जा	</td>
        <td>  १६.५%             +</td>
    </tr>
    <tr>
	
        
   <td>  आवधिक बचत धितो कर्जा</td>
        <td>+                 +३%</td>
    </tr>
    <tr>

        <td> हायर पर्चेज</td>
        <td>	१८%              २४%</td>
    </tr>
    <tr>

        <td>  भवन निर्माण कर्जा</td>
        <td>	  	+                 २४%</td>
    </tr>

    <tr>      

        <td>   शेयर धितो कर्जा</td>
        <td> 	१८%               २२%</td>
    </tr>
    <tr>
    <td> सह©लियत कर्जा	</td>
    <td>     १७%               २२%</td>
    </tr>
    <tr>
    <td>  अन्य	</td>
    <td> संस्थाको निर्णय अन©सार</td>
    </tr>
</table>


    




