@using Microsoft.AspNet.Identity
<div class="sidebar-profile">
    <a href="javascript:void(0);" id="profile-menu-link">
   <div class="sidebar-profile-details">
            <span>@User.Identity.GetUserName();<br><small>Developer</small></span>
             
        </div>
    </a>
</div>